@model IEnumerable<Capstone_Next_Step.Models.Product>

<h4 class="section-title">Prudect Lists</h4>
@foreach (var ProductList in Model)
{
    <div class="asset-card">
        <div class="d-flex justify-content-between align-items-start">
            <div class="asset-info">
                <div class="asset-name">@ProductList.Name</div>
                <div class="asset-location">@ProductList.Category</div>
            </div>
            <span class="status-badge status-pending">@ProductList.Color</span>
        </div>
        <div class="asset-meta">
            <span class="asset-meta-date">
                <i class="far fa-calendar"></i> @ProductList.Count
            </span>
            <span class="asset-meta-user">
                @ProductList.Price
                <i class="far fa-user"></i>
            </span>
        </div>
    </div>

}

<form action="AddProduct" class="col-auto" method="post">
    <button type="submit" class="btn btn-secondary mr-2">Add Product</button>
</form>
